body {
  margin: 100px auto;
  text-align: center;
  padding: 10;
  font-size: 40pt;
  font-weight: normal;
  background: lightblue; /* For browsers that do not support gradients */
}



button {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  
}
